<%- include("partials/header.ejs") %>
<div class="p-5 text-center bg-body-tertiary rounded-3">
    <img src="<%= link %>" alt="random dog image" height="400" />
    <h1 class="text-body-emphasis"><%= name%>.</h1>
  </div>
<%- include("partials/footer.ejs") %>
